img {
    max-width: 100%;
    height: auto;
}

.carrousel__ecran > figure > a > img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.home__architect > img {
    float: left;
    width: 131px;
    height: 131px;
    margin-right: 12px;
}