:root{
    /* Color styles */
        --main: rgba(255, 149, 51, 1);
        --white: rgba(255, 255, 255, 1);
        --black: rgba(46, 46, 46, 1);
        --gray: rgba(246, 246, 246, 1);
        --underline: rgba(90, 126, 255, 1);
        --gradient-blue: rgba(205, 216, 255, 1);
    
        /* Text-size styles */
        --heading-1: 48px;
        --heading-2: 34px;
        --heading-3: 24px;
        --caption: 18px;
        --paragraph: 14px;
        --button: 16px;
}

