.hero-1 {
    background: linear-gradient(132deg, #CDD8FF 1.01%, #FF9533 100%);
}

.hero__localisation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding-bottom: 43px;
}

.hero > svg {
    margin: 25px 0px
}

.hero > h1 > span {
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(90, 126, 255, 1);
    text-decoration-thickness: 5px;
}

.hero-2 {
    color: var(--white);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding-bottom: 30px;
}

#hero-2__return {
    position: relative;
    margin-top: 20px;
    width: 10%;
}

#oeuvre1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/public/img/oeuvre1_1.webp);
}

#oeuvre2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/public/img/oeuvre2_1.webp);
}

#oeuvre3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/public/img/oeuvre3_1.webp);
}

#oeuvre4 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/public/img/oeuvre4_1.webp);
}

#oeuvre5 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/public/img/oeuvre5_1.webp);
}

#oeuvre6 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/public/img/oeuvre6_1.webp);
}

#oeuvre7 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/public/img/oeuvre7_1.webp);
}

#oeuvre8 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(/public/img/oeuvre8_1.webp);
}

.hero-2 > h1 {
    padding-top: 0;
}