.home__order__button {
    display: flex;
    width: 162px;
    padding: 10px 11px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--main, #FF9533);
    border: 0;

    color: #000;
    text-align: center;
    /* button */
    font-family: Lato;
    font-size: var(--button);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-decoration: none;
    color: #000;
}


.carrousel__button-left, .carrousel__button-right {
    border-radius: 12px;
    background: var(--main, #FF9533);
    width: 32px;
    height: 38px;
    flex-shrink: 0;
    border: 0;
    
}

.carrousel__button-right > img {
    width: 30px;
    height: 24px;
    flex-shrink: 0;
    margin-left: -4px;
}

.carrousel__button-left > img {
    width: 30px;
    height: 24px;
    flex-shrink: 0;
    margin-left: -6px;
}

.contact__button {
    display: flex;
    justify-content: flex-end;
}

.contact__button > button {
    background: var(--main, #FF9533);
    border-radius: 8px;
    box-shadow: 6px 6px 0px 0px #B77539;
    border: 0;
    width: 117px;
    height: 51px;
    
    text-align: center;
    /* button */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    color: var(--black)
}
