.carrousel {
    position: relative;
}

.carrousel__parent {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
}

.carrousel__ecran {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
}