header {
    background: var(--main, #FF9533);
    display: flex;
}

header > button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1rem;
    outline: none;
    margin: 0
}

nav {
    visibility: hidden;
}